.sass-cache/**
.vscode/**
css-colors/**
lib/app/**
node_modules/comma-separated-values/**
node_modules/electron-prebuilt/**
node_modules/js-yaml/**
temp/**
test/**
typings/**
.gitignore
.stylelintrc
.vscodeignore
app-build.Gruntfile.bat
app-build.Gruntfile.js
jsconfig.json
*.gif
s-*.png
stats.json
extension_.js
